- name: install neutron lbaas service (ubuntu)
  upstart_service:
    name: "{{ item.name }}"
    start_on: "{{ item.start_on|default(omit) }}"
    stop_on: "{{ item.stop_on|default(omit) }}"
    user: "{{ item.user }}"
    pidfile: "{{ item.pidfile|default(omit) }}"
    cmd: "{{ item.cmd }}"
    config_dirs: "{{ item.config_dirs }}"
    config_files: "{{ item.config_files|default(omit) }}"
    envs: "{{ item.envs }}"
  with_items:
    - "{{ neutron.services.neutron_lbaasv2_agent }}"
  when: ursula_os == 'ubuntu'

- name: install neutron lbaas service (rhel)
  systemd_service:
    name: "{{ item.name }}"
    description: "{{ item.desc }}"
    type: "{{ item.type }}"
    user: "{{ item.user }}"
    environments: "{{ item.environments }}"
    cmd: "{{ item.cmd }}"
    config_dirs: "{{ item.config_dirs }}"
    config_files: "{{ item.config_files }}"
    pidfile: "{{ item.pidfile|default(omit) }}"
    restart: "{{ item.restart }}"
    kill_mode: "{{ item.kill_mode }}"
  with_items:
    - "{{ neutron.services.neutron_lbaasv2_agent }}"
  when: ursula_os == 'rhel'

- name: create lbaas templates folder
  file:
    path: "/etc/neutron/lbaas_templates/"
    state: directory
    owner: root
    group: neutron
    mode: 0755

- name: symlink lbaas-haproxy filter
  file:
    src: /opt/openstack/current/neutron/etc/neutron/rootwrap.d/lbaas-haproxy.filters 
    dest: /etc/neutron/rootwrap.d/lbaas-haproxy.filters
    owner: root
    group: neutron
    state: link
    force: true
  when:
   - openstack_install_method == 'source'

- name: template neutron lbaas haproxy
  template:
    src: etc/neutron/lbaas_templates/haproxy_base.j2
    dest: /etc/neutron/lbaas_templates/haproxy_base.j2
    owner: root
    group: neutron
    mode: 0644
  notify: restart neutron lbaas agent

- name: symlink other neutron lbaas haproxy templates
  file:
    src: /opt/openstack/current/neutron/lib/python2.7/site-packages/neutron_lbaas/drivers/haproxy/templates/{{ item }}
    dest: /etc/neutron/lbaas_templates/{{ item }}
    owner: root
    group: neutron
    state: link
    force: true
  with_items:
    - haproxy.loadbalancer.j2
    - haproxy_proxies.j2
  notify: restart neutron lbaas agent
  when:
    - openstack_install_method != 'distro'

- name: symlink other neutron lbaas haproxy templates (distro)
  file:
    src: /usr/lib/python2.7/site-packages/neutron_lbaas/drivers/haproxy/templates/{{ item }}
    dest: /etc/neutron/lbaas_templates/{{ item }}
    owner: root
    group: neutron
    state: link
    force: true
  with_items:
    - haproxy.loadbalancer.j2
    - haproxy_proxies.j2
  notify: restart neutron lbaas agent
  when:
    - openstack_install_method == 'distro'

- name: neutron lbaas config
  template:
    src: etc/neutron/neutron_lbaas.conf
    dest: /etc/neutron/neutron_lbaas.conf
    owner: root
    group: neutron
    mode: 0644
  notify:
    - restart neutron lbaas agent
    - restart neutron server service

- name: neutron lbaas agent config
  template:
    src: etc/neutron/services/loadbalancer/haproxy/lbaas_agent.ini
    dest: /etc/neutron/services/loadbalancer/haproxy
    mode: 0644
  notify:
    - restart neutron lbaas agent

- name: start neutron lbaas agent
  service:
    name: "{{ neutron.services.neutron_lbaasv2_agent.name }}"
    state: started
    enabled: True
